[submodule "zxingcpp"]
	path = zxingcpp
	url = https://github.com/Akylas/zxing-cpp.git
[submodule "tools"]
	path = tools
	url = https://github.com/Akylas/app-tools.git
[submodule "docquad-integration/external/onnxruntime"]
	path = docquad-integration/external/onnxruntime
	url = https://github.com/microsoft/onnxruntime.git
